<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.equipshare.concreteapp">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoard"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_dash_board"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Password_reset"
            android:label="Forgot Password"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:label="SignUp"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutConcrete"
            android:label="About Concrete"
            android:parentActivityName=".DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quality"
            android:label="Quality and Quantity"
            android:parentActivityName=".DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderBook"
            android:label="OrderBook"
            android:parentActivityName=".DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestQuote"
            android:label="Quote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddSite"
            android:label="Add Site"
            android:screenOrientation="portrait" />
        <activity
            android:name=".POdetails"
            android:label="PO Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Issues"
            android:label="Issue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuoteInfo"
            android:label="Quote Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:label="Edit Profile" />
        <activity
            android:name=".Calculator"
            android:label="Calculator" />
        <activity android:name=".Chat" />
        <activity android:name=".CreatePO"
            android:label="Create PO"
            android:screenOrientation="portrait"/>
    </application>

</manifest>